
.list-items{
    box-sizing: border-box;
    margin: 0;
}

li{
    margin-bottom: 5px;
}

ol{
   list-style: decimal;
   color: #999999
}


.list-item-top{
//    height: 20px;
   color: black;
}

.list-item-bottom{
    font-size: .8em;
    color: #999999;
    margin-left: 15pt;
    display: block;
}

.url-link{
    margin-left: 3pt;
    font-size: .9em;
    color: #999999;
}

.svg-icon{
    display: inline;
}


// .headline{
//     margin-left: 10pt;
//     align-self: auto;
//     word-wrap: break-word;
//     text-align: justify;
// }

.headline{
    display: inline;
    margin-left: 10pt;
    overflow-wrap: break-word;
}
// .arrow-icon::after{
//     margin: 0;
// }


// @media (max-width: 700px){
//     .list-item-top{
//         overflow: hidden;
//     }
// }
