<ion-content>
  <div class="nav">
      <table class="nav-table" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
          <tr>
            <td class="nav-table-data">
              <a href="https://news.ycombinator.com">
                <img src="../../assets/ycombi.png"
                  width="20" height="18">
                </a>
              </td>
            <td class="nav-table-data2">
              <span class="pagetop">
                <b class="hacknews">
                  <a href="#">Hacker News</a>
                </b>
                  <a href="#">new</a> | 
                  <a href="#">past</a> | 
                  <a href="#">comments</a> | 
                  <a href="#">ask</a> | 
                  <a href="#">show</a> | 
                  <a href="#">jobs</a> | 
                  <a href="#">submit</a>
              </span></td>
            <td class="navbar-login">
              <span class="pagetop">
                <a href="#">login</a>
              </span></td>
          </tr>
        </tbody>
      </table>
   
  </div>

 
  <app-list></app-list>

 <div class="more-btn">
    <p>More</p>
    <hr>
 </div>
 
  <div class="footer">
      <p style="margin: auto; padding: 20px;">
          Registration is open for Startup School 2019. Classes start July 22nd.
       </p>
    <table width="100%" style="padding: 20px;">
      <td align="center"valign="center">
         <tr>
            <span class="bottom-links"><a href="#">Guidelines</a>
              | <a href="#">FAQ</a>
              | <a href="#">Support</a>
              | <a href="#">API</a>
              | <a href="#">Security</a>
              | <a href="#">Lists</a>
              | <a href="#" rel="nofollow">Bookmarklet</a>
              | <a href="#">Legal</a>
              | <a href="#">Apply to YC</a>
              | <a href="#">Contact</a>
            </span>
         </tr>
    </table>
    <form style="padding: 20px;">
      Search: &nbsp; <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false" class="form-input">
    </form>
   
  </div>

</ion-content>
